[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.9.8"
